.app-wrapper{
width: 400px;
height: auto;
background-color: lightblue;
padding: 50px;
margin-left: 450px;
margin-top: 200px;
}
.title{
  font-size: 30px;
  color: orange;
  margin-left: 100px;
}
.form-wapper{

  padding: 10px;
  overflow: hidden;
}
.name{
  width: 350px;
  margin: 5px;
  
  height: 40px;
}
.label{
  width: 100px;
}
.input{
  width: 200px;
  height: 25px;
  float: right;
  border-bottom: 2px solid black;
}
.button{
  padding: 5px;
  background-color: burlywood;
  margin-left: 150px;
}
.error{
  color: red;
  margin: 5px;
  
}